@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Lato&display=swap&family=Open+Sans&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

header {
  background-color: #222222;
  padding: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}

h1 {
  margin: 0;
}

header h1 {
  flex: 1;
  text-align: center;
  margin-left: 24%;
  letter-spacing: 3px;
  font-family: 'Patua One', cursive;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  width: 400px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  padding-right: 10px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
}

.search-input:focus {
  outline: none;
}

.search-button i {
  font-size: 22px;
  font-weight: bold;
}

.clear-button i {
  font-size: 24px;
  margin-left: 5px;
}

.search-button,
.clear-button {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
}

main {
  max-width: 737px; 
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 5%;
}


.video-container {
  position: relative;
  width: 737px;
  height: 380px;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.yt-stats {
  flex: 1;
  padding: 0.1px 20px 20px;
  background-color: #f2f2f2;
}

.yt-stats .video-name {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-size: 28px;
}

.video-name {
  margin-top: 5px; 
}

.video-info img{
  margin-top: 5px;
}

.video-info div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.channel-name {
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-left: 10px;
}

.video-info .channel-name {
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0; 
}

.video-info .published-date {
  color: #666666;
  margin-bottom: 20px;
  font-size: 18px;
}

.views {
  font-size: 20px;
}

.views strong {
  font-weight: bold;
}

.thumbs {
  margin-top: 20px;
}

.thumbs .thumbs-up,
.thumbs .thumbs-down {
  display: inline-block;
  margin-right: 20px;
}

.thumbs .thumbs-up button,
.thumbs .thumbs-down button {
  background: none;
  border: none;
}

.thumbs .thumbs-up button i,
.thumbs .thumbs-down button i {
  margin-right: 5px;
  font-size: 24px;
}

.thumbs .thumbs-down i {
  margin-left: 20px;
}

.thumbs .comments {
  margin-top: 10px;
  font-size: 18px;
  color: #666666;
}

.comments {
 margin-top: 0 !important;
  display: flex;
  align-items: center;
}

.comments i {
  margin-left: 3px;
  font-weight: bold;
  color: #333333;
}

.hidden {
  display: none;
}

footer {
  display: none;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

footer p {
  margin: 0;
  margin-right: 100px;
  letter-spacing: 2px;
  font-family: 'Patua One', cursive;
}

footer a {
  color: #1fa5c3;
  text-decoration: none;
  margin-left: 5px;
}

